@{
    ViewData["Title"] = "Home Page";
}



<style>
    * {
        margin: 0;
        padding: 0;
    }
    img{
        position:relative;
        left:800px;
        top:-10px;
    }
    .header{
        position: relative;
        top: -700px;
    }
    .text{
        position:relative;
        top:-600px;
    }

    body {
        background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/pipes.png');
    }
</style>
<body>
    
        <img src="https://images.pexels.com/photos/6627401/pexels-photo-6627401.jpeg?auto=compress&cs=tinysrgb&w=600">
        <div class="header">
            <h1>Create your own OneNote</h1>
        </div>
        <div class="text">
            <p>You can create wonderful notes here which connected to the Microsoft OneNote</p>
        </div>
    
   

</body>

