@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/pipes.png');
      
     
    }

  
</style>
<body>
<h3>
    Our privacy policy explains how we collect, use, and disclose personal information of our users. We understand the importance of your privacy and we are committed to protecting your personal information.
</h3>
<br>
<h2>Information Collection and Use</h2>
<p>
    We may collect personal information from you when you use our services, register for an account, or communicate with us through email or other means. The personal information we may collect includes your name, email address, phone number, and other information you provide to us.
</p>
<span>
    We use the personal information we collect to provide and improve our services, communicate with you, and respond to your inquiries. We may also use your information to send you promotional and marketing communications, but you can opt-out of receiving these communications at any time.
</span>
<br>
<br>
<h2>Information Sharing and Disclosure</h2>
<p>
    We do not share your personal information with third parties except as necessary to provide our services, respond to your inquiries, or comply with legal obligations. We may share your information with our service providers who assist us in operating our website or providing our services.
</p>
<span>
    We may also disclose your information if we believe it is necessary to protect our rights, property, or safety or that of our users or third parties.
</span>
<br>
<br>
<h2>Data Security</h2>
<p>
    We take appropriate measures to protect your personal information from unauthorized access, disclosure, or destruction. We use industry-standard encryption technology to protect your information during transmission.
 </p>
</body>